section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightcyan;
    border: 10px solid lightcoral;
    

    
}

article {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    margin: 10px;
    border: 3px solid plum;
    border-radius: 5px;
    margin: 35px;
    padding:5px;
}

h2 {
    text-align: center;
    border: 2px solid lightskyblue;
    background-color: lavender;
    border-radius: 50px;
    padding: 5px;
    color: peru;
}

h3 {
    text-align: center;
    font-family: 'Kumar One Outline', cursive;

}

.featured {
    background-color: lavender;
}

p {
   
}

